flows.json
[{"id":"2f26c9aa.de6036","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70dab166.a68d2","type":"azureiotdevice","z":"2f26c9aa.de6036","deviceid":"m80dgw6kc7","pnpModelid":"","connectiontype":"dps","authenticationmethod":"sas","iothub":"plcnextbe.azure-devices.net","isIotcentral":true,"scopeid":"0ne0024426E","enrollmenttype":"device","saskey":"TYPtSZpJlBJ+VoqoCl+1Oo//YVS6xIQGf46wN5fVsm0=","certname":"","keyname":"","protocol":"mqtt","retryInterval":"1","methods":[{"name":"blink"},{"name":"ChangeMode"},{"name":"ChangeSetPoint"}],"DPSpayload":"","gatewayHostname":"","caname":"","cert":"","key":"","ca":"","x":820,"y":260,"wires":[["34ef5e1e.f99da2","3c9f37a.7a4f6c8","91d511fe.9de3b"]]},{"id":"34ef5e1e.f99da2","type":"debug","z":"2f26c9aa.de6036","name":"Debug output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":160,"wires":[]},{"id":"9ebaabe5.84dcd8","type":"function","z":"2f26c9aa.de6036","name":"telemetry","func":"msg = {\n    'topic': 'telemetry',\n    'payload': {'FlowRate': msg.payload[0].value\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["70dab166.a68d2"]]},{"id":"6f33ca44.2925b4","type":"function","z":"2f26c9aa.de6036","name":"properties","func":"msg = {\n    'topic': 'property',\n    'payload': { 'PumpStatus': msg.payload[0].value\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["70dab166.a68d2"]]},{"id":"3c9f37a.7a4f6c8","type":"function","z":"2f26c9aa.de6036","name":"command response","func":"if (msg.topic == \"command\") {\n   var responseMsg = {\n       \"topic\": \"response\",\n       \"payload\": {\n            \"requestId\": msg.payload.requestId,\n            \"methodName\": msg.payload.methodName,\n            \"status\": 200,\n            \"payload\": msg.payload.payload\n       }\n   };\n   return responseMsg;\n}\n","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["70dab166.a68d2"]]},{"id":"b1dd8d1d.a52ab","type":"OPCUA-IIoT-Read","z":"2f26c9aa.de6036","attributeId":0,"maxAge":1,"depth":1,"connector":"f3c6c755.5db188","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":1,"serverMaxItemsToRead":1000,"x":330,"y":180,"wires":[["9ebaabe5.84dcd8"]]},{"id":"70434235.d9753c","type":"OPCUA-IIoT-Inject","z":"2f26c9aa.de6036","injectType":"inject","payloadType":"date","topic":"","repeat":"60","crontab":"","once":true,"startDelay":"60","name":"","payload":"","addressSpaceItems":[{"name":"","nodeId":"ns=5;s=Arp.Plc.Eclr/MainInstance.iFlowRate","datatypeName":""},{"name":"","nodeId":"ns=5;s=Arp.Plc.Eclr/MainInstance.iSetPoint","datatypeName":""}],"x":150,"y":180,"wires":[["b1dd8d1d.a52ab"]]},{"id":"644b158.844e5ec","type":"OPCUA-IIoT-Read","z":"2f26c9aa.de6036","attributeId":0,"maxAge":1,"depth":1,"connector":"f3c6c755.5db188","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":1,"serverMaxItemsToRead":1000,"x":290,"y":260,"wires":[["6f33ca44.2925b4"]]},{"id":"db43d6c6.a93b68","type":"OPCUA-IIoT-Inject","z":"2f26c9aa.de6036","injectType":"inject","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"","name":"","payload":"","addressSpaceItems":[{"name":"","nodeId":"ns=5;s=Arp.Plc.Eclr/MainInstance.iPumpStatus","datatypeName":""}],"x":120,"y":260,"wires":[["644b158.844e5ec"]]},{"id":"6cdbd719.1acee8","type":"OPCUA-IIoT-Write","z":"2f26c9aa.de6036","connector":"f3c6c755.5db188","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1350,"y":300,"wires":[["9b6bfd6.2312c"]]},{"id":"9b6bfd6.2312c","type":"OPCUA-IIoT-Response","z":"2f26c9aa.de6036","name":"","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1530,"y":300,"wires":[[]]},{"id":"54fea8.7840d158","type":"OPCUA-IIoT-Node","z":"2f26c9aa.de6036","injectType":"write","nodeId":"ns=5;s=Arp.Plc.Eclr/MainInstance.iSetPoint","datatype":"Int16","value":"","name":"","topic":"","showErrors":true,"x":1210,"y":300,"wires":[["6cdbd719.1acee8"]]},{"id":"91d511fe.9de3b","type":"function","z":"2f26c9aa.de6036","name":"","func":"var msg1 = {payload : ''  };\nvar msg2 = {payload : ''  };\n\nif (msg.payload.methodName == 'ChangeSetPoint') {\n    msg1.payload = msg.payload.payload\n}\n\nif (msg.payload.methodName == 'ChangeMode') {\n    msg2.payload = msg.payload.payload\n}\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1070,"y":320,"wires":[["54fea8.7840d158"],["ed2e5f77.bddc3"]]},{"id":"e2ab7add.499de8","type":"OPCUA-IIoT-Write","z":"2f26c9aa.de6036","connector":"f3c6c755.5db188","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1350,"y":340,"wires":[["39ee1a33.e934a6"]]},{"id":"39ee1a33.e934a6","type":"OPCUA-IIoT-Response","z":"2f26c9aa.de6036","name":"","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1530,"y":340,"wires":[[]]},{"id":"ed2e5f77.bddc3","type":"OPCUA-IIoT-Node","z":"2f26c9aa.de6036","injectType":"write","nodeId":"ns=5;s=Arp.Plc.Eclr/MainInstance.iPumpStatus","datatype":"Int16","value":"","name":"","topic":"","showErrors":true,"x":1210,"y":340,"wires":[["e2ab7add.499de8"]]},{"id":"38baed32.4757c2","type":"comment","z":"2f26c9aa.de6036","name":"OPC UA","info":"READING VALUES TO OPC UA SERVER","x":300,"y":120,"wires":[]},{"id":"a99db3af.3ce0c","type":"comment","z":"2f26c9aa.de6036","name":"OPC UA","info":"WRITING VALUES TO OPC UA SERVER","x":1340,"y":240,"wires":[]},{"id":"b7c07696.256868","type":"comment","z":"2f26c9aa.de6036","name":"AZURE","info":"HANDLING AZURE COMMUNICATION","x":790,"y":200,"wires":[]},{"id":"f3c6c755.5db188","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.10.10:4840","keepSessionAlive":true,"loginEnabled":true,"securityPolicy":"Basic256Sha256","securityMode":"SIGNANDENCRYPT","name":"PLCnext","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"}]